parsetemplate/src/main/mule/parsetemplate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d32c79c8-f10d-4ac0-b2de-94ad1590c224" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="parsetemplateFlow" doc:id="9416a0b4-d2ec-4999-87d6-ce3b4c2b7077" >
		<http:listener doc:name="Listener" doc:id="fc67be29-bd38-4c7c-bdc6-687ad7cca45c" config-ref="HTTP_Listener_config" path="parse"/>
		<parse-template doc:name="Parse Template" doc:id="91fbe632-80a0-410e-b0b0-15fc8c2a448a" location="C:\Users\HP\Desktop\mule\sai.txt.txt"/>
		<logger level="INFO" doc:name="Logger" doc:id="1d058382-73ba-4acf-8c9e-450ce9b5273e" message="#[payload]"/>
	</flow>
</mule>
