smtpschedular/src/main/mule/smtpschedular.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="be9beeb7-eb09-489b-9500-04249de7e1b5" >
		<http:listener-connection host="0.0.0.0" port="8222" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="f2759703-42ef-4b48-9999-2151c0b91889" />
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="735a1776-cb54-4569-99f8-d041621a17c4" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="saipandu1504@gmail.com" password="sai@9542436802" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="smtpschedularFlow" doc:id="473b1c81-7751-44f1-a2c1-1d76c2d26e00" >
		<http:listener doc:name="Listener" doc:id="48a9ab2b-4783-4ffc-93db-3fb799cd9347" config-ref="HTTP_Listener_config" path="sai"/>
		<flow-ref doc:name="Flow Reference" doc:id="d14e7072-75bc-4877-86e8-bf81c6217a2e" name="smtpschedularFlow1"/>
	</flow>
	<flow name="smtpschedularFlow1" doc:id="2947b7f5-b5ed-4a52-801b-9baa22512c96" >
		<scheduler doc:name="Scheduler" doc:id="42bc9d1f-7c26-4d59-82a0-055a7e7a41d3" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="a1468666-988d-4e2b-aeb4-a353742d1d85" config-ref="File_Config" path="C:\Users\HP\Desktop\mule\sai\vak.xml"/>
		<email:send doc:name="Send" doc:id="40b792dd-0f30-4e52-a1b2-92cf6db9060a" config-ref="Email_SMTP" subject="Regarding your offer letter" toAddresses="">
			<email:body>
				<email:content ><![CDATA[#[{
     "attachments.xml" : payload
}]]]></email:content>
			</email:body>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="6b0c078d-a6b4-463e-9876-5e666d910a6a" message="#[payload]"/>
	</flow>
</mule>
